:root{
    --Background : #1A1A1A;
    --forBackground : #0c0c0c;
    --MainTextColor:#33ff10; 
    --SecondTextColor: #ff0000;
    --ThirdTextColor:#ffee00;
    --ForthTextColor:#ffffff;
}
*{
    background-color: var(--Background);
    color: var(--MainTextColor);
    font-family: monospace;
    margin: 0;
}
main{
    margin: 0 auto; 
}
/*all style for Header Start*/
header{
    border-bottom: 1px dashed var(--MainTextColor);
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
}
.inHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 1280px;
    margin: 0 auto;
}
/*All Logo Style Start*/
#Mainlogo{
    display: flex;
}
#Mainlogo h6{
    font-size: 35px;
    padding-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}
.logo{
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
}
.logo h3{
    font-size: 35px;
    text-align: left;
}
@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes reverse-typing {
    0% {
        width: 100%;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.typing-text {
    overflow: hidden;
    border-right: .06em solid transparent; 
    white-space: nowrap;
    margin: 0 auto;
    animation: reverse-typing 4s steps(5, end) infinite, 
               typing 4s steps(5, end) infinite, 
               blink-border 0.5s infinite; 
}

@keyframes blink-border {
    0%, 49.9%, 100% {
        border-color: var(--ForthTextColor); 
    }
    50%, 99.9% {
        border-color: transparent; 
    }
}
/*All Logo Style End*/
.navMenu a{
    text-decoration: none;
    display: inline;
    padding: 13px 15px;
    font-size: 20px;
}
.navMenu nav{
    text-align: center;
}
.Nvicons{
    font-size: 24px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}
#check{
    display: none;
}
@media (max-width:736px) {
    .inHeader{
        width: 100%;
        position: fixed;
    }
    .Nvicons{
        display: inline-flex;
    }
    #check:checked~.Nvicons #menu-ico{
        display: none;
    }
    .Nvicons #close-ico{
        display: none;
    }
    #check:checked~.Nvicons #close-ico{
        display: block;
    }
    .navMenu nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: 0;
        transition: 0.3s ease;
    }
    #check:checked~.navMenu nav{
        height: 270px;
        border-top: 1px dashed var(--MainTextColor);
        border-bottom: 1px dashed var(--MainTextColor);
    }
    .navMenu nav a{
        display: block;
        padding: 10px 0px;
        font-size: 30px;
        transform: translateY(-50px);
        transition: 0.3s ease;
        opacity: 0;
    }
    #check:checked~.navMenu nav a{
        transform: translateY(0);
        transition-delay: calc(0.15s * var(--i));
        opacity: 1;
    }
}
/*all style for Header End*/
.heroSecLeft p{
    color: var(--SecondTextColor);
}
#typeWriterPro{
    color: var(--MainTextColor);
    font-weight: bold;
}
#typeCursor{
    color: var(--ForthTextColor);
    animation: blink 1s linear infinite;
  }
  .secondP{
    padding-top: 4%;
  }
#typeWriterDown{
    color: var(--MainTextColor);
}
#typeCursorDown{
    color: var(--ForthTextColor);
    animation: blink 1s linear infinite;
  }
  @keyframes blink {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 0%;
    }
  }
.heroSecRight p{
    background: url(https://devtarak.github.io/u/assets/formatBG.webp);
    background-size: 100% 100%;
    background-clip: text;
    color: transparent;
}
.TitleSection {
    font-size: 32px;
    text-align: center;
}
.tegShow{
    font-size: 14px;
    font-weight: lighter;
    color: var(--ForthTextColor);
    font-style: italic;
}
.cursorAbb{
    color: var(--ForthTextColor);
    animation: blink 1s linear infinite;
    background-color: var(--ForthTextColor);
  }
.typeWriteAbb{
    color: var(--MainTextColor);
}
.perInfo p{
    font-size: 22px;
    color: var(--ThirdTextColor);
}
.expInfo-2-1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.expInfo-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    flex-wrap: wrap;
}
.expInfo-1::before{
    content: " ";
    position: absolute;
    background: linear-gradient(var(--SecondTextColor),var(--MainTextColor));
    animation: rotate 4s linear infinite;
}
.expInfo-1::after{
    content: " ";
    position: absolute;
    background-color: var(--Background);
    inset: 4px;
    border-radius: 16px;
}
.expInfo-1 span{
    position: relative;
    color: var(--ForthTextColor);
    font-size: 50px;
    z-index: 10;
    line-height: 25px;
    text-align: center;
    background: transparent;
}
.expInfo-1 span span{
    font-size: 20px;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}
.section3-main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section3-main .scard{
    position: relative;
    background-color: var(--Background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3-main .scard .spersent{
    position: relative;
    width: 150px;
    height: 150px;
    background: transparent;
}
.section3-main .scard .spersent svg{
    position: relative;
    background: transparent;
    transform: rotate(270deg);
    width: 150px;
    height: 150px;
}
.section3-main .scard .spersent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: var(--forBackground);
    transform: translate(5px, 5px);
}
.section3-main .scard .spersent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray:440;
    opacity: 0;
    stroke-dashoffset: calc(440 - (440 * var(--nump)) / 100);
    animation: sfadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
@keyframes sfadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.section3-main .scard .spersent .sdot{
    position: absolute;
    background: transparent;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--nump)));
    animation: dotAnimation 2s linear forwards;
}
@keyframes dotAnimation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--nump)));
    }
    
}
.section3-main .scard .spersent .sdot::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--clr);
    top: -5px;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--clr),0 0 30px var(--clr);
}
.section3-main .scard .spersent .snumber{
    position: absolute;
    inset: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: sfadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
.section3-main .scard .spersent .snumber h6{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ForthTextColor);
    font-weight: 700;
    font-size: 2.5em;
}
.section3-main .scard .spersent .snumber h6 span{
    background: transparent;
    font-weight: 300;
    color: var(--ForthTextColor);
    font-size: 0.7em;
}
.section3-main .scard .spersent .snumber p{
    background: transparent;
    font-size: 0.75em;
    line-height: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}
.servicesLs-2-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
}
.servicesLs-2-1 .expInfo-1 .expInfo-1-1 img{
    position: relative;
    z-index: 10;
    background: transparent;
}
.servicesLs-2-1 .expInfo-1 .expInfo-1-1 span{
    position: relative;
    color: var(--ThirdTextColor);
    font-size: 24px;
    z-index: 10;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    background: transparent;
}
.servicesLs-2-1 .expInfo-1 .expInfo-1-1 span span{
    font-size: 16px;
    line-height: 15px !important;
    font-weight: 400;
    color: var(--SecondTextColor);
}
.servicesLs-2-1 .expInfo-1 .expInfo-1-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    transition: 0.6s;
    flex-direction: column;
    z-index: 10;
}
.servicesLs-2-1 .expInfo-1 .expInfo-1-1:after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    transform: rotate(50deg);
    background-color: #fff;
    width: 120%;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.servicesLs-2-1 .expInfo-1 .expInfo-1-1:hover:after{
    width: 225%;
    top: -100%;
}
.PortfolioCardBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding:20px 0px;
}
.projectsCard{
    width: 270px;
    overflow: hidden;
    padding: 20px;
    border: var(--MainTextColor) 2px solid;
    border-radius: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.projectsCard:hover{
    box-shadow: 0 0 2px var(--MainTextColor), 0 0 10px var(--MainTextColor);
    transition: 0.6s;
}
.projectsCardImg{
    display: flex;
    flex-direction: column;
    padding-top: 14%;
    align-items: center;
   width: 250px;
   height: 225px;
   overflow: hidden;
   background: url(../assets/farmelaptop2.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
}
.projectsCardImg img{
    width: 200px;
    overflow: hidden;
    border-radius: 2px;
}
.projectCardTitle{
    color: var(--MainTextColor);
    font-size: 18px;
    font-weight: bold;
}
.projectCardDetails p{
    font-size: 14px;
    color: var(--SecondTextColor);
}
.projectsCard a{
    margin-top: 20px;
    padding: 5%;
    border: var(--MainTextColor) 2px dashed;
    box-shadow: 0 0 12px var(--forBackground);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}
.projectsCard a:hover{
    box-shadow: none;
    transition: 0.5s;
}