@media (min-width: 1280px){
    main{
        width: 1280px;
    }
    .heroSection{
        display: flex;
        justify-content: space-between;
        column-gap: 100px;
        border-bottom: 1px dashed var(--MainTextColor);
        padding-bottom: 3%;
    }
    .heroSecLeft{
        padding-top: 5%;
        vertical-align: middle;
        width: 50%;
    }
    .heroSecLeft p{
        font-size: 22px;
    }
    .heroSecRight{
        width: 50%;
    }
    .perInfo{
        padding-top: 2%;
        width: 50%;
    }
    .perInfo p{
        margin-bottom: 1%;
    }
    .section2-1{
        display: flex;
        justify-content: space-between;
    }

}