@media (min-width: 1280px){
    main{
        width: 1280px;
    }
    .heroSection{
        display: flex;
        justify-content: space-between;
        column-gap: 100px;
        border-bottom: 1px dashed var(--MainTextColor);
        padding-bottom: 3%;
    }
    .heroSecLeft{
        padding-top: 5%;
        vertical-align: middle;
        width: 50%;
    }
    .heroSecLeft p{
        font-size: 22px;
    }
    .heroSecRight{
        width: 50%;
    }
    .perInfo{
        padding-top: 2%;
        width: 60%;
    }
    .section2{
        border-bottom: 1px dashed var(--MainTextColor);
    }
    .section2-1{
        padding-top: 5%;
    }
    .expInfo{
        width: 40%;
    }
    .perInfo p{
        margin-bottom: 1%;
    }
    .section2-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .expInfo-1{
        width: 200px;
        height: 150px;
    }
    .expInfo-1::before{
        width: 75px;
        height: 160%;
    }
    .section3-main{
        gap: 40px;
    }
    .section3-main .scard{
        width: 220px;
        height: 220px;
    }
    .section3{
        border-bottom: 1px dashed var(--MainTextColor);
    }

}